@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./assets/fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/montserrat-bold-webfont.woff") format("woff"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.app {
  background: center / cover #0f1e35 url("./assets/images/background.jpg") no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .app {
        background-image: url('./assets/images/background2x.jpg');
    }
}